body {
    background-color: brown;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: white;
    text-align: center;
}

.wrapper p {
    text-align: center;
}

.wrapper {
    border: 1px solid yellow;
    max-width: 45rem;
    margin: auto;
    padding: 20px;
}

.choices {
    display: flex;
    gap: .5rem;
}

#game {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    background-color: blanchedalmond;
    text-align: center;
    padding: .5rem;
    font-size: 2rem;
    flex: 1;
}

.button:hover {
    background-color: yellow;
    color: red;
    font-weight: bold;
}